body {
    background-color: #f0f0f0;
    color: #000000;
    font-family: "Garamond", serif;
    max-width:1024px;
    margin:0 auto;
    font-size: 18px;
  }
  
  header {
    position: relative;
    height: 300px;
    background-image: url(https://yt3.googleusercontent.com/KE-r3zY0bzRT6p9vSFMAFEznsYQbzOe4aXY8lUyjOG3gpNl4NfYprJDigXIWBhdGsHsxR1ozpA=w1707-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj);
     background-size:cover;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
  }
  
  header h1{
    position: middle;
    top: 50%;
    bottom: 50%;
    transform: translate;
    margin:0;
    font-size: 9em;
    font-family: 'Lucida Handwriting', cursive;
    color: #000000;
  }
  
  header .banner {
    width: 100%;
    height: auto;
  }
  
  main {
    padding: 20px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: auto;
  }
  
  .box{
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:#ff007f;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
  }
  
  .box h2{
    margin-top: 0;
  }
  
  .about p{
    font-size: 1.8em;
  }
  
  .description {
    grid-column: span 2;
  }
  
  .description .description{
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #ff69b4;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .videos figure{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-rows: auto;
    justify-items: center;
    margin: 20px 0;
    text-align: center;
    font-size: 1.4em;
  }
  
  
  .videos iframe{
    width: 100%;
    max-width: 600px;
    height: 315px;
  }
  
  .videos{
    background-color:#FFD1DC ;
  }
  
  footer {
    background-color: #ff007f;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }
  
  footer a{
    color: #D3D3D3;
    text-decoration: none;
  }
  
  footer a:hover{
    color: #FFFFFF;
  }